//! **************************************************************************
// Written by: Map I.24 on Thu Dec 12 15:36:20 2013
//! **************************************************************************

SCHEMATIC START;
COMP "I1/I2/I0/net30" LOCATE = SITE "M2" LEVEL 1;
COMP "I1/I2/I0/net29" LOCATE = SITE "L5" LEVEL 1;
COMP "I1/I2/I0/net9" LOCATE = SITE "M1" LEVEL 1;
COMP "I1/I2/I0/net7" LOCATE = SITE "L4" LEVEL 1;
COMP "I1/I2/I0/net5" LOCATE = SITE "M3" LEVEL 1;
COMP "I1/I2/I0/net3" LOCATE = SITE "N1" LEVEL 1;
COMP "I1/I2/I0/net28" LOCATE = SITE "M4" LEVEL 1;
COMP "I1/I2/I0/net27" LOCATE = SITE "N2" LEVEL 1;
COMP "I1/I0/net10" LOCATE = SITE "C1" LEVEL 1;
COMP "I1/I0/net12" LOCATE = SITE "C2" LEVEL 1;
COMP "I1/I3/net053" LOCATE = SITE "L12" LEVEL 1;
COMP "I1/I3/net4" LOCATE = SITE "N15" LEVEL 1;
COMP "I1/I3/net065" LOCATE = SITE "N14" LEVEL 1;
COMP "I1/I3/net063" LOCATE = SITE "L14" LEVEL 1;
COMP "I1/I3/net049" LOCATE = SITE "R1" LEVEL 1;
COMP "I1/I3/net051" LOCATE = SITE "L15" LEVEL 1;
COMP "I1/I3/net061" LOCATE = SITE "M13" LEVEL 1;
COMP "I1/I3/net059" LOCATE = SITE "R16" LEVEL 1;
COMP "I1/I3/net047" LOCATE = SITE "K12" LEVEL 1;
COMP "I1/I3/net057" LOCATE = SITE "M15" LEVEL 1;
COMP "I1/I3/net055" LOCATE = SITE "P14" LEVEL 1;
COMP "I1/I4/net059" LOCATE = SITE "B1" LEVEL 1;
COMP "I1/I4/net057" LOCATE = SITE "E2" LEVEL 1;
COMP "I1/I4/net055" LOCATE = SITE "C3" LEVEL 1;
COMP "I1/I4/net049" LOCATE = SITE "N3" LEVEL 1;
COMP "I1/I4/net053" LOCATE = SITE "F5" LEVEL 1;
COMP "I1/I4/net051" LOCATE = SITE "P1" LEVEL 1;
COMP "I1/I4/net047" LOCATE = SITE "P2" LEVEL 1;
COMP "I1/I2/I0/net13" LOCATE = SITE "K4" LEVEL 1;
COMP "I1/I2/I0/net32" LOCATE = SITE "K5" LEVEL 1;
COMP "I1/I2/I0/net31" LOCATE = SITE "L3" LEVEL 1;
COMP "I1/I2/I0/net11" LOCATE = SITE "L2" LEVEL 1;
COMP "I1/I0/net24" LOCATE = SITE "D1" LEVEL 1;
COMP "I1/I0/net22" LOCATE = SITE "E3" LEVEL 1;
COMP "I1/I0/net20" LOCATE = SITE "E1" LEVEL 1;
COMP "I1/I0/net18" LOCATE = SITE "F4" LEVEL 1;
COMP "I1/I0/net16" LOCATE = SITE "F2" LEVEL 1;
COMP "I1/I0/net14" LOCATE = SITE "G5" LEVEL 1;
COMP "I1/I1/net24" LOCATE = SITE "C9" LEVEL 1;
COMP "I1/I4/net4" LOCATE = SITE "D2" LEVEL 1;
COMP "I1/I4/net065" LOCATE = SITE "D3" LEVEL 1;
COMP "I1/I4/net063" LOCATE = SITE "F3" LEVEL 1;
COMP "I1/I5/net7" LOCATE = SITE "P16" LEVEL 1;
COMP "I1/I4/net061" LOCATE = SITE "E4" LEVEL 1;
COMP "I1/I5/net9" LOCATE = SITE "P15" LEVEL 1;
COMP "I1/I5/net11" LOCATE = SITE "N16" LEVEL 1;
COMP "I1/I5/net13" LOCATE = SITE "M14" LEVEL 1;
COMP "I1/I5/net15" LOCATE = SITE "M16" LEVEL 1;
COMP "I1/I5/net17" LOCATE = SITE "L13" LEVEL 1;
SCHEMATIC END;
